
@{
    Layout = null;
}

<!DOCTYPE html>

<h3> MVC Kamp Tablo Örneği - Kategori </h3>
<br />
<table>
    <tr>
        <th>ID</th>
        <th>Kategori Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
    </tr>
    <tr>
        <td></td>
    </tr>
</table>
